/*AJAX LOADER*/
div#ajaxLoader {
    z-index: 99999;
}
div#ajaxLoader > div.spinner {
    position: fixed;
    top: 30vh;
    left: 46vw;
    width: 4vw;
    height: 4vw;
    margin: 60px;
    animation: rotate .8s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
    z-index: 99999;
}
@keyframes rotate {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
}
@keyframes background {
    0% {
        background-color: #27ae60;
    }
    50% {
        background-color: #9b59b6;
    }
    100% {
        background-color: #c0392b;
    }
}